@model GRRoWmvc.Models.DogViewModels.DogViewViewModel
@using GRRoWmvc.Data.Enums
@using GRRoWmvc.Extensions;

@{
    ViewData["Title"] = "View Dog";
}
<dd>
    <h4>Dog Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Profile Image</dt>
        <dd>
            <img height="300" width="400" alt="Profile Image" src="@Html.ToBase64Image(Model.CurrentProfile.ImageData, Model.CurrentProfile.ImageName)" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DogId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DogId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SurrenderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SurrenderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnergyLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnergyLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InteractionWithDogs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InteractionWithDogs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InteractionWithCats)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InteractionWithCats)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InteractionWithKids)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InteractionWithKids)
        </dd>
    </dl>
    
</dd>

<h1>Dog Photos</h1>
<div class="row">
    @foreach (var image in Model.CurrentDogImages)
    {
        <p>
            <img height="300" width="400" alt="Embedded Image" src="@Html.ToBase64Image(image.ImageData,image.ImageName)" />            
        </p>
    }
</div>

<h1>Dog Updates</h1>
@foreach (var update in Model.DogUpdates.OrderByDescending(m => m.CreateDate.Value))
{
    <h3>@update.CreateDate.Value.ToString("MM/dd/yyyy")</h3>
        <p>@update.Notes</p>
}

<div>
    <a asp-action="DogList" asp-controller="Dog">Back to List</a>
</div>
